.optionsButtons{
    list-style: none;
    display: grid;
    grid-gap: 20px;
   place-items: center;
   grid-template-columns: repeat(3, auto);
   margin-top: 20px;

}

.button{
    width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  justify-content: center; 
  align-items: center;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.button:hover{
    background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}
.button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .button:before,
  .button:after {
    position: absolute;
  content: "";
  right: 0;
  top: 0;
   box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
  }
  .button:before{
    height: 0%;
  width: .1px;
  }
  .button:after{
    width: 0%;
  height: .1px;
  }
  .button:hover:before{
    height: 100%;
  }
  .button:hover:after{
    width: 100%;
  }
  .button span:before,
  .button span:after{
    position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
  }
  .button span:before {
    width: .1px;
    height: 0%;
  }
  .btn-4 span:after {
    width: 0%;
    height: .1px;
  }
  .button span:hover:before {
    height: 100%;
  }
  .button span:hover:after {
    width: 100%;
  }
  .resetButton{
    width: 130px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;


   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;

  background-color: #5a6262;
  line-height: 42px;
  padding: 0;
  border: none;
  color: aliceblue;
  text-transform: uppercase;
  transition: all 0.3s ease;
  }
  .resetButton:hover{
    transform: scale(1.1);
    filter: brightness(120%);
  }
  .icon{
font-size: 24px;
vertical-align: middle;
margin-left: 10px;
  }
 .iconReset{
    font-size: 24px;
    vertical-align: middle;
    margin-left: 10px;
 }
  